<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Humidity Sensor</h1>
    {% for humidity_data in humidity_data %}
        <h1>Reading:</h1>
        <p>
            {{ humidity_data.Humidity }}
            {{ humidity_data.Temperature }}
            {{ humidity_data.date }}
            {{ humidity_data.time }}
        </p>
    {% endfor %}
</body>
</html>